/* frontend/src/index.css */
@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

@theme {
  --color-bambi-rose: #c37973;
  --color-bambi-sand: #c7b0a3;
  --color-bambi-terracotta: #b66245;
  --color-bambi-ochre: #aa4c3a;
  --color-bambi-dark: #201a18; /* A warm charcoal to match the palette aesthetic */
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfaf9; /* A soft tinted off-white background */
  font-family: 'Inter', system-ui, sans-serif;
  overflow: hidden;
}